Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-clang-analyzer-security.FloatLoopCounter,-google-build-using-namespace, -llvm-include-order,-readability-redundant-member-init,-fuchsia-default-arguments,-google-readability-todo,-fuchsia-overloaded-operator,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-misc-unused-parameters,-readability-else-after-return,-google-runtime-int,-cppcoreguidelines-pro-bounds-constant-array-index,-google-readability-casting,-cert-flp30-c,-cert-msc30-c,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-owning-memory,-cppcoreguidelines-no-malloc,-cppcoreguidelines-pro-type-cstyle-cast,-cppcoreguidelines-pro-type-union-access,-hicpp-no-malloc,-llvm-namespace-comment,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg'
HeaderFilterRegex: ''
