kerneldev.pro.user
*.autosave
demo.*
*generated*
*.user
*Makefile
lcdemo*
*.so
.idea
build
release
CMakeLists.txt.user
playground
xcode
debug
doc
lcviewernoqt/painters/opengl/resources/res.cpp
lckernel/version.cpp
cmake-build-debug
unittest/rendering/res/*.out

# macOS
.DS_Store
.vscode

# Visual Studio
/CMakeSettings.json
.vs/

# Conan
conan/
